<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>-->

</head>

<body>
	<div id="game">
		<h3>Guessing game</h3>
		<div id="word">
			<div class="word-blankletter" v-for="letter in wordDivs" v-cloak>{{letter}}</div>
		</div>
		<div id="keyboard">
			<div class="keyboard-row">
				<letter-button style="color:orangered" v-for="letter in letters[0]" :letter="letter" :game-over="gameOver" :key="letter" @check="check(letter)" v-cloak></letter-button>
			</div>
            <div class="keyboard-row">
                <letter-button style="color:dodgerblue" v-for="letter in letters[1]" :letter="letter" :game-over="gameOver" :key="letter" @check="check(letter)" v-cloak></letter-button>
            </div>
            <div class="keyboard-row">
                <letter-button style="color:steelblue" v-for="letter in letters[2]" :letter="letter" :game-over="gameOver" :key="letter" @check="check(letter)" v-cloak></letter-button>
            </div>
		</div>
	</div>


<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="script.js"></script>

</body>

</html>