html, body {
  align-items: center;
  background-color: #F5F5F6;
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

button {
  background-color: white;
  border: none;
  color: #333;
  box-shadow: 0 2px 5px #D0D0D0;
  font-family: 'Roboto', sans-serif;
  margin: 2px;
}

button:disabled {
  color: #CCC;
}

/* II. helper classes applied by js */
.hidden {
  display: none;
}

.orange {
  background-color: #ff9800;
}

/* III. the app and its contents */
#game {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  width: 100%;
}
#keyboard {
  align-items: center;
  display: flex;
  flex: 2 1 auto;
  flex-direction: column;
}

.keyboard-row {
  display: flex;
}

.keyboard-row-letter {
  height: 40px;
  width: 28px;
}

/* E. game-option buttons */
#buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 0 5px 0;
  max-width: 700px;
  width: 95%;
}

.buttons-button {
  height: 25px;
  font-size: 1em;
}
