html, body {
  align-items: center;
  background-color: #F5F5F6;
  color: #333;
  display: block;
  flex-direction: column;
  font-family: 'Roboto Medium', sans-serif;
  height: 100%;
  width: 100%;
}

button {
  background-color: #F5F5F6;
  border: none;
  font-size: 30px;
  /*box-shadow: 0 2px 5px #D0D0D0;*/
  font-family: 'Roboto', sans-serif;
  margin: 3px;
}

button:disabled {
  color: #CCC !important;
}

/* II. helper classes applied by js */
.hidden {
  display: none;
}

.orange {
  background-color: #ff9800;
}

/* III. the app and its contents */
#game {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  height: 100%;
  margin: 0;
  width: 100%;
}
#keyboard {
  align-items: center;
  display: flex;
  flex: 2 1 auto;
  flex-direction: column;
}

.keyboard-row {
  display: flex;
}

.keyboard-row-letter {
  height: 40px;
  width: 28px;
}

.button-yellow{color: yellow !important;
  background-color: greenyellow;}

/* E. game-option buttons */
#buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 0 5px 0;
  max-width: 700px;
  width: 95%;
}

.buttons-button {
  /*height: 25px;*/
  font-size: 1em;
}

#word {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0 18px 0;
}

.word-blankletter {
  align-items: flex-end;
  background-color: rgba(255, 152, 0, 0.24);
  display: flex;
  height: 50px;
  font-size: 44px;
  font-family: 'Roboto-medium', sans-serif;
  color: crimson;
  justify-content: center;
  margin: 0 2px 2px 2px;
  width: 40px;
}
.block {
    /*height: 100px;*/
    text-align: center;
    margin: 20px;
}

.block::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin-right: -0.25em; /* Adjusts for spacing */

    /*background: #808080; width: 5px;*/
    }

.centered {
    display: inline-block;
    vertical-align: middle;
}

.restart {
    background-image: url("images/restart.png");
}

@media screen and (max-width : 370px)
{
    button
    {
        font-size:22px;
    }
    .keyboard-row-letter {
        height: 35px;
        width: 22px;
    }
    .word-blankletter {
        height: 40px;
        font-size: 35px;
        width: 30px;

}